@model QuestionsViewModel
@{

}
<div class="row mb-3">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Message"]
        </div>
    }
    <div class="col-md-12">
        <div class="card" style="border:0px; border-radius:20px">
            <div class="card-body p-4">
              
                <span class="fw-bold lh-lg">
                    अग्रवाल प्रगति ट्रस्ट का मुख्य उद्देश्य है , भारत के 135 crore भारतीयों को और विदेशों में बसने वाले प्रत्येक भारतीयों को संगठित करना है ।
                    महाराजा अग्रसेन के एक ईंट और एक रुपए के सिद्धांत का अनुसरण करते हुए अंतिम पंक्ति में खड़े व्यक्ति को राष्ट्र की मुख्य धारा में लाना है ।
                    महाराजा अग्रसेन जी सम्पूर्ण समाज के नायक और राजा थे । केवल जाति विशेष के नहीं । इस बात पर अपने को व्यवहार रूप में अमल में लाना है ।
                    महाराजा अग्रसेन जी समाजवाद, लोकतंत्र और अहिंसा के प्रहरी थे ।
                </span>
                <h4 style="color:brown">
                   <br/> अखिल भारतीय ऑनलाइन प्रतियोगिता<br />
                    (महाराजा अग्रसेन जी और अग्रवालों पर आधारित )
               </h4>
               <h5 class="fw-bold">नियम:-</h5>
                <ol class="fw-bold lh-lg">                    
                   <li>इस प्रतियोगिता में भारत के 135 crore  लोग भाग ले सकते हैं । इतना ही नहीं, विदेशों में बसने वाला प्रत्येक भारतीय भी भाग ले सकता है । चाहे उसका जन्म विदेश में हुआ हो ।</li>
                   <li>यह प्रतियोगिता 25 September, 2022 , रविवार को साँयकाल 4.00 बजे होगी । प्रतियोगिता के लिए आधे घंटे का समय दिया जाएगा ।</li>
                   <li>प्रश्न पत्र हिंदी में होगा । आपको sample question paper उत्तर सहित भेजा जा रहा है । इसमें से ही 25 questions पूछे जाएँगे । किंतु घुमा फिराकर पूछे जाएँगे ।</li>
                    <li> प्रथम पुरस्कार राशि 11000 rupaye </li>
                    दिव्तिय पुरुष्कार राशि  7100 rupaye <br/>
                    तृतीय पुरुष्कार राशि।   5100 rupaye <br/>
                    सभी प्रांत और केंद्र शासित में से प्रथम आने वाले को सांत्वना पुरुष्कार 3100-3100 rupaye  का दिया जाएगा ।<br/>
                    सबसे पहले और सबसे ज़्यादा marks प्राप्त करने वाले प्रतिभागी को ही पुरुष्कार मिलेगा ।
                    <li>निर्णायकों का निर्णय अंतिम एवं सर्वमान्य होगा ।</li>
                </ol>

                <h5 class="fw-bold">Exotica की विशेषताएँ:</h5>
                <ol class="fw-bold lh-lg">
                    <li>Destination Marriage के लिए बहुत ही उपयुक्त भवन ।</li>
                    <li>Business exihibition के लिए सर्वश्रेष्ठ स्थान ।</li>
                    <li>एक साथ 350 लोग ठहर सकते हैं ।</li>
                    <li>दो बड़े बड़े हॉल है । ज़्यादा सजावट की जरूरत नहीं है ।</li>
                    <li>Airport से पाँच मिनिट में भवन पर पहुँच सकते हैं ।</li>
                    <li>सूरत के भव्य sea beach पर 7  मिनिट में पहुँच सकते हो ।</li>
                    <li>भारत में सुप्रसिद्ध सूरत में स्थित श्याम बाबा का मंदिर, अम्बा माँ का मंदिर , मेहंदीपुर बालाजी और राणी सती आदि मंदिर के दर्शन एक घंटे में कर सकते हो ।</li>
                    <li>भारत में सुप्रसिद्ध सूरत में स्थित श्याम बाबा का मंदिर, अम्बा माँ का मंदिर , मेहंदीपुर बालाजी और राणी सती आदि मंदिर के दर्शन एक घंटे में कर सकते हो ।</li>
                    <li>agra exotica में घर जैसा वातावरण मिलेगा ।</li>
                    <li>पार्किंग की कोई समस्या नहीं है ।</li>
                    <li>विश्व का सबसे बड़ा diamond hub तैयार हो गया है जो कि देखने लायक़ है ।</li>
                    <li>agra एक्षोटिका का किराया भी बहुत ही उचित ।</li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        @for (int i = 0; i < Model.Questions.Count(); i++)
        {
            <div class="card mb-2" style="border:0px; border-radius: 20px;">
                <div class="card-body">

                    <div class="fw-bold mb-2">
                        प्र: @Model.Questions[i].Id .  @Model.Questions[i].Question.Trim() <span class="text-danger"> * </span>
                        <input type="hidden" asp-for="@Model.Questions[i].Id" />
                        <input type="hidden" asp-for="@Model.Questions[i].Question" />
                    </div>
                    <ul>
                        @for (int j = 0; j < Model.Questions[i].Answers.Count(); j++)
                        {
                            <li class="mb-2">
                                @if (Model.Questions[i].Answers[j].IsCorrect)
                                {
                                    <label class="form-check-label fw-bold" style="color:green" for="@Model.Questions[i].Answers[j].Id">
                                        @Model.Questions[i].Answers[j].Answer1.Trim()
                                    </label>
                                }
                                else
                                {
                                    <label class="form-check-label" for="@Model.Questions[i].Answers[j].Id">
                                        @Model.Questions[i].Answers[j].Answer1.Trim()
                                    </label>
                                }
                            </li>

                            <input type="hidden" asp-for="@Model.Questions[i].Answers[j].Id" />
                            <input type="hidden" asp-for="@Model.Questions[i].Answers[j].QuestionId" />
                            <input type="hidden" asp-for="@Model.Questions[i].Answers[j].Answer1" />
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

