@model WinnerModel
@{
    int index = 0;
    int stateWinner = 0;
}
<div class="card mb-5" style="border:0px; border-radius: 20px;">
    <div class="card-body">
        <section class="section skills">
            <div class="container">
                <div class="row">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["Message"]
                        </div>
                    }
                    <div class="col-md-12">
                        <h3 class="text-center fw-bold">
                            Top 3 Winner
                        </h3>
                        <table class="table table-responsive">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Prize</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Top3WinnerList)
                                {
                                    <tr>
                                        <th scope="row">@(index + 1)</th>
                                        <td style="width:40%">@item.Name</td>
                                        <td style="width:40%">@item.State</td>
                                        <td>@(Model.Top3WinnerPrize[index])</td>
                                    </tr>
                                    index = index + 1;
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center fw-bold">
                            State wise 1st winner
                        </h3>
                        <table class="table table-responsive">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Prize</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StateWiseWinnerList)
                                {
                                    <tr>
                                        <th scope="row">@(stateWinner + 1)</th>
                                        <td style="width:40%">@item.Name</td>
                                        <td style="width:40%">@item.State</td>
                                        <td>3100</td>
                                    </tr>
                                    stateWinner = stateWinner + 1;
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<style>
    table td {
        word-wrap: break-word;
    }
</style>